<div class="contact-body">
    <div class="contact-container">
        <div>
            <img src="./assets/img/correo.png" alt="correo">
        </div>
        <form
        action="https://formspree.io/f/meqyvyje"
        method="POST">
        <h2>Formulario de contacto</h2>
        <label>Nombre</label>
        <input placeholder="Gastón Camú" type="text" name="nombre:">
    
        <label>Email</label>
        <input placeholder="ejemplo@gmail.com" type="email" name="email:">
    
        <label>Asunto</label>
        <input placeholder="Ayudame con un proyecto." type="text" name="asunto:">

        <label>Mensaje</label>
        <textarea placeholder="Escribí aqui tu mensaje." name="mensaje:" cols="15" rows="5"></textarea>
    
        <button type="submit">Enviar</button>
        </form>
    </div>
</div>
