<div>
    <h1>Bienvenido a mi Portafolio</h1>
    <h2>Gastón Camú</h2>
</div>
<div class="descripcion">
    <p>Soy un apasionado programador de 21 años que disfruta creando soluciones tanto en el front-end como en el backend. Mi pasión por la programación me impulsa a explorar nuevas tecnologías y a resolver desafíos creativos. Siempre estoy en busca de aprender y mejorar mis habilidades.</p>
</div>
<h3>Mis Proyectos</h3>
<div class="galeria-proyectos">
    <a target="_blank" href="https://github.com/GastonCamu/Traveleate">
        <div class="P-Traveleate desktop">
            <p>Se trata de un proyecto de transporte y turismo que aun esta en proceso.</p>
        </div>
    </a>
    <a target="_blank" href="https://gastoncamu.github.io/1-Portfolio/">
        <div class="P-1Portfolio desktop">
            <p>Este proyecto es importante para mi porque se trata de mi primer portfolio.</p>
        </div>
    </a>
    <a target="_blank" href="https://landing-page-angular-17-gc.netlify.app/">
        <div class="P-LandingPageAngular17 desktop">
            <p>Esto es una prueba del uso de apis en Angular y tambien el manejo de validaciones en la misma. (utilizando la api Fake Store)</p>
        </div>
    </a>
    <a target="_blank" href="https://lista-de-tareas-gc.netlify.app/">
        <div class="P-ListaDeTareas desktop">
            <p>Esto es una prueba del uso del LocalStorage en Angular.</p>
        </div>
    </a>
    <a target="_blank" href="https://github.com/GastonCamu/DentCorp">
        <div class="P-DentCorp">
            <p>Esta es una aplicacion hecha con Django para un centro odontologico.</p>
        </div>
    </a>
    <a target="_blank" href="https://github.com/GastonCamu/SistemaProductosPython">
        <div class="P-SistemaProductos">
            <p>Esta es una aplicacion hecha con Python y Tkinter para gestionar productos.</p>
        </div>
    </a>
    <a target="_blank" href="https://github.com/GastonCamu/SaltaVincula">
        <div class="P-SaltaVincula mobile">
            <p>Esta es una aplicacion mobile hecha con ionic que simula una red social.</p>
        </div>
    </a>
</div>
<h3>Tecnologias Aprendidas</h3>
<div class="tecnologias">
    
</div>
