<div class="introduccion">
    <h1>Bienvenido a mi Portafolio</h1>
    <div>
        <h2>Gastón Camú.<span>&#160;</span></h2>
    </div>
</div>
<div class="descripcion">
    <p class="descripcion-p">Soy un apasionado programador de 21 años que disfruta creando soluciones tanto en el front-end como en el back-end. Mi pasión por la programación me impulsa a explorar nuevas tecnologías y a resolver desafíos con creatividad. Siempre estoy en busca de aprender y mejorar mis habilidades.</p>
</div>
<h3>Mis Proyectos</h3>
<div class="galeria-proyectos">
    <div class="galeria-proyectos">

    <a target="_blank" href="https://gaston-camu.netlify.app/">
        <div class="P-Portfolio desktop">
            <p>Portafolio creado con angular. (actual)</p>
        </div>
    </a>
    <a target="_blank" href="https://gastoncamu.github.io/Traveleate-Front/">
        <div class="P-Traveleate">
            <p>Proyecto de transporte utilizando Angular 17 y una API en C# conectada a una base de datos SQL Server. 
                Esta aplicación permite a los usuarios finales reservar asientos de manera intuitiva y con un diseño responsive.</p>
        </div>
    </a>
    <a target="_blank" href="https://gastoncamu.github.io/1-Portfolio/">
        <div class="P-1Portfolio desktop">
            <p>Primer portfolio creado con HTML y SASS.</p>
        </div>
    </a>
    <a target="_blank" href="https://landing-page-angular-17-gc.netlify.app/">
        <div class="P-LandingPageAngular17 desktop">
            <p>Esto es una prueba del uso de APIs en Angular y también el manejo de validaciones en la misma. (utilizando la API Fake Store)</p>
        </div>
    </a>
    <a target="_blank" href="https://lista-de-tareas-gc.netlify.app/">
        <div class="P-ListaDeTareas desktop">
            <p>Esto es una prueba del uso del LocalStorage en Angular.</p>
        </div>
    </a>
    <a target="_blank" href="https://github.com/GastonCamu/DentCorp">
        <div class="P-DentCorp">
            <p>Esta es una aplicación hecha con Django para un centro odontológico.</p>
        </div>
    </a>
    <a target="_blank" href="https://github.com/GastonCamu/SistemaProductosPython">
        <div class="P-SistemaProductos">
            <p>Esta es una aplicación hecha con Python y Tkinter para gestionar productos.</p>
        </div>
    </a>
    <a target="_blank" href="https://github.com/GastonCamu/SaltaVincula">
        <div class="P-SaltaVincula mobile">
            <p>Esta es una aplicación móvil hecha con Ionic que simula una red social.</p>
        </div>
    </a>
</div>
<h3>Tecnologias Aprendidas</h3>
<div class="tecnologias-aprendidas">
    <h4>Front-end</h4>
    <div class="tecnologias">
        <div class="tecnologia-contenedor">
            <img src="./assets/img/Tecnologias/logo html.webp" alt="HTML">
            <p>HTML</p>
        </div>
        <div class="tecnologia-contenedor">
            <img src="./assets/img/Tecnologias/logo css.webp" alt="CSS">
            <p>CSS</p>
        </div>
        <div class="tecnologia-contenedor">
            <img src="./assets/img/Tecnologias/logo javascript.png" alt="javascript">
            <p>Javascript</p>
        </div>
        <div class="tecnologia-contenedor">
            <img src="./assets/img/Tecnologias/logo typescript.png" alt="typescript">
            <p>Typescript</p>
        </div>
        <div class="tecnologia-contenedor">
            <img src="./assets/img/Tecnologias/logo sass.png" alt="sass">
            <p>Sass</p>
        </div>
        <div class="tecnologia-contenedor">
            <img src="./assets/img/Tecnologias/logo bootstrap.png" alt="Bootstrap">
            <p>Bootstrap</p>
        </div>
        <div class="tecnologia-contenedor">
            <img src="./assets/img/Tecnologias/logo angular.png" alt="Angular">
            <p>Angular</p>
        </div>
        <div class="tecnologia-contenedor">
            <img src="./assets/img/Tecnologias/logo ionic.avif" alt="Ionic">
            <p>Ionic</p>
        </div>
    </div>
    <h4>Back-end</h4>
    <div class="tecnologias">
        <div class="tecnologia-contenedor">
            <img src="./assets/img/Tecnologias/logo python.png" alt="python">
            <p>Python</p>
        </div>
        <div class="tecnologia-contenedor">
            <img src="./assets/img/Tecnologias/logo django.png" alt="django">
            <p>Django</p>
        </div>
        <div class="tecnologia-contenedor">
            <img src="./assets/img/Tecnologias/logo csharp.png" alt="C#">
            <p>C#</p>
        </div>
        <div class="tecnologia-contenedor">
            <img src="./assets/img/Tecnologias/logo sql.png" alt="sql">
            <p>SQL</p>
        </div>
    </div>
</div>

